<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
	{% include navbar.html %}
	<main>

		<!-- ISO Working Group 21 -->
		<section>
			<h2>ISO Working Group 21 (WG21)</h2>
			<p><sub>International Standards Organization JTC1/SC22/WG21; The C++ Standards Committee</sub></p>
			<p>WG21 is the international standards committee responsible for the C++ programming language.
				It is part of the ISO/IEC JTC1/SC22 committee, which deals with programming languages, their
				environments and system software interfaces. WG21 is responsible for the standardization of C++ and
				related technologies, including the C++ Standard Library.</p>
			<ul>
				<li><a href="http://www.open-std.org/jtc1/sc22/wg21">ISO WG21 Homepage</a></li>
				<li><a href="https://github.com/cplusplus/draft">C++ Standard Drafts @ Github</a></li>
			</ul>
		</section>

		<!-- Drafts -->
		<section class="drafts">
			<h2>Current Draft</h2>
			<ul>
				<li><a href="https://isocpp.org/std/the-standard">Latest Working Draft (WG21)</a></li>
				<li><a href="https://wg21.link/">WG21 Paper Index (Redirect Service)</a></li>
			</ul>
		</section>

		<!-- RFCs / Papers -->
		<section>
			<h2>Proposals / Papers</h2>
			<ul>
				<li><a href="https://www.open-std.org/jtc1/sc22/wg21/docs/papers/">All WG21 Papers</a></li>
				<li><a href="https://www.open-std.org/jtc1/sc22/wg21/docs/papers/2024/p1000r6.pdf">P1000R6 - C++ IS
						schedule</a></li>
				<li><a href="https://isocpp.org/std/status">C++ Proposal Status</a></li>
				<li><a href="http://wg21.link/p1018">P1018 - Language Evolution</a></li>
				<li><a href="http://wg21.link/p2500">P2400 - Library Evolution</a></li>

			</ul>
		</section>

		<!-- Experimental Features -->
		<section>
			<h2>Experimental features</h2>
			<p><sub>To test experimental upcoming features in C++ use std::experimental and
					<code>#include &lt;version&gt;</code>, which defines all library feature-test macros.</sub></p>,
			<ul>
				<li><a href="https://en.cppreference.com/w/cpp/compiler_support.html">Compiler support for new C++
						features</a></li>
				<li><a href="https://en.cppreference.com/w/cpp/experimental.html">Technical Specs for Experimental C++
						Features</a></li>
				<li><a href="https://en.cppreference.com/w/cpp/utility/feature_test.html">Library feature-test
						macros</a></li>
				<li><a href="https://eel.is/c++draft/cpp.predefined">Preprocessing directives - Predefined macro
						names</a></li>
			</ul>
		</section>

		<!-- Community Resources -->
		<section>
			<h2>Community Resources</h2>
			<ul>
				<li><a href="https://en.cppreference.com/">C++ Reference</a></li>
				<li><a href="https://godbolt.org/">Godbolt Compiler Explorer</a></li>
			</ul>
		</section>

		<!-- Specs -->
		<section>
			<h2>Specifications</h2>
			<ul>
				<li>
					<a href="https://timsong-cpp.github.io/cppwp/">C++ Working Draft</a>
					<a href="http://open-std.org/JTC1/SC22/WG21/docs/papers/2021/n4885.pdf">PDF (n4885)</a>
					<a href="https://github.com/cplusplus/draft">C++ Draft Repository @ GitHub</a>
				</li>
			</ul>
		</section>

		<!-- Standards Table -->
		<section>
			<h2>Published C++ Standards</h2>
			<p>
				These documents specify requirements for the implementations of the C++ programming language and define
				the C++ language itself.
			</p>
			<table>
				<thead>
					<tr>
						<th>Status</th>
						<th>Edition</th>
						<th>Publication date</th>
						<th>Standard</th>
						<th>ISO Reference Number</th>
						<th>Working Draft</th>
						<th>Draft as PDF</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Current</td>
						<th>7</th>
						<td>2024-10</td>
						<td>C++23</td>
						<td><a href="https://www.iso.org/standard/83626.html">ISO/IEC 14882:2024</a></td>
						<td><a href="https://timsong-cpp.github.io/cppwp/n4950">N4950</a></td>
						<td><a href="https://open-std.org/JTC1/SC22/WG21/docs/papers/2023/n4950.pdf">PDF</a></td>
					</tr>
					<tr>
						<td>Withdrawn</td>
						<th>6</th>
						<td>2020-12</td>
						<td>C++20</td>
						<td><a href="https://www.iso.org/standard/79358.html">ISO/IEC 14882:2020</a></td>
						<td><a href="https://timsong-cpp.github.io/cppwp/n4861">N4861</a></td>
						<td><a href="http://open-std.org/jtc1/sc22/wg21/docs/papers/2020/n4861.pdf">PDF </a></td>
					</tr>
					<tr>
						<td>Withdrawn</td>
						<th>5</th>
						<td>2017-12</td>
						<td>C++17</td>
						<td><a href="https://www.iso.org/standard/68564.html">ISO/IEC 14882:2017</a></td>
						<td><a href="https://timsong-cpp.github.io/cppwp/n4659">N4659</a></td>
						<td><a href="http://open-std.org/jtc1/sc22/wg21/docs/papers/2017/n4659.pdf">PDF</a></td>
					</tr>
					<tr>
						<td>Withdrawn</td>
						<th>4</th>
						<td>2014-12</td>
						<td>C++14</td>
						<td><a href="https://www.iso.org/standard/64029.html">ISO/IEC 14882:2014</a></td>
						<td><a href="https://timsong-cpp.github.io/cppwp/n4140">N4140</a></td>
						<td><a href="https://github.com/cplusplus/draft/blob/master/papers/n4140.pdf">PDF</a></td>
					</tr>
					<tr>
						<td>Withdrawn</td>
						<th>3</th>
						<td>2011-09</td>
						<td>C++11</td>
						<td><a href="https://www.iso.org/standard/50372.html">ISO/IEC 14882:2011</a></td>
						<td><a href="https://timsong-cpp.github.io/cppwp/n3337">N3337</a></td>
						<td><a href="http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2012/n3337.pdf">PDF</a></td>
					</tr>
					<tr>
						<td>Withdrawn</td>
						<th>2</th>
						<td>2003-10</td>
						<td>C++03</td>
						<td><a href="https://www.iso.org/standard/38110.html">ISO/IEC 14882:2003</a></td>
					</tr>
					<tr>
						<td>Withdrawn</td>
						<th>1</th>
						<td>1998-09</td>
						<td>C++98</td>
						<td><a href="https://www.iso.org/standard/25845.html">ISO/IEC 14882:1998</a></td>
					</tr>
				</tbody>
			</table>
		</section>

	</main>
	{% include footer.html %}
</body>

</html>